ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

}

.header-image {
    max-width: 300px;
}

.head-content {
    display: flex;
    flex: 1;

}

.service-block {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;

}

.service-item {
    max-width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-image {
    max-width: 200px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.service-text {
    text-align: center;
}

#About-the-Owner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote-container {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #E5E7EB;
    margin-bottom: 0;
}

.call-box {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border-radius: 2rem;
}

.contact {
 height: 10%;
 margin: 0;
 padding: 0;
}

.call-box-content {
    display: flex;
    justify-content: auto;
    gap: 10%;
    align-items: auto;
}

header, footer {
    background-color: #1F2937;
}

.nav-bar, .subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button, .call-box {
    background-color: #3882F6;
}

.two {
    background-color: #E5E7EB;
    margin-bottom: 0;
}

.three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937
}

address {
    color: #E5e7eb;
}